

$white: #fff !default;
$primary-color: #e77600 !default;
$secondary-color: #e73200 !default;
$hover-color: #e28b1b !default;
$input-border: #cdcdcd !default;
$box-shadow: #E479117F!default;
$input-label-color: #212325 !default;
$paragraph-color: #cbc8c8 !default;
$black:#000000 !default;
